body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  background-color: #FAFAFA;
}

.title {
  font-size: 2.5em;
  text-align: center;
  font-weight: 100;
}

.hide {
  display: none;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.border-red {
  border-color: red;
}

.help-block {
  margin-top: 2px;
  font-size: 10px;
  color: red;
}
