body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  background-color: #FAFAFA;
}

.hide {
  display: none;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}
