<div class="user-container">
  <div class="title">Newsletter2Go Assignment</div>
  <div class="table-menu">
    <div class="table-menu__selected">
      <span ng-if="vm.selectedRowsLength == 0">No users selected.</span>
      <span ng-if="vm.selectedRowsLength != 0">
        {{ vm.selectedRowsLength }} users selected.
      </span>
    </div>
    <div class="table-menu__buttons">
      <button class="btn btn-default buttons--margin-right" ng-disabled="vm.selectedRowsLength == 0">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Rows
      </button>
      <button class="btn btn-default" ng-disabled="vm.selectedRowsLength == 0">
        <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to CSV
      </button>
    </div>
  </div>
  <div class="table-wrapper table-responsive">
    <table ng-table="vm.tableData" class="table table-hover table-users">
      <tbody>
        <tr class="hide">
          <td data-title="'First Name'"></td>
          <td data-title="'Last Name'"></td>
          <td data-title="'Email'"></td>
          <td data-title="'Date of Birth'"></td>
          <td data-title="'Country'"></td>
          <td data-title="'Actions'"></td>
        </tr>
        <tr user-row
            ng-repeat="user in $data"
            user-id="{{ user.id }}"
            first-name="{{ user.firstName }}"
            last-name="{{ user.lastName }}"
            email="{{ user.email }}"
            date-of-birth="{{ user.dateOfBirth }}"
            country="{{ user.country }}">
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/ng-template" id="showUserModal">
    <div class="modal-body" id="modal-body">
      <h2>
        {{ $ctrl.firstName }}
        {{ $ctrl.lastName }} is
        {{ $ctrl.dateOfBirth | ageFilter }} years old.
      </h2>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="$ctrl.close()">
        Close
      </button>
    </div>
  </script>
</div>
