<tr>
  <td>
    <input type="checkbox" ng-selected="$ctrl.checked" ng-click="$ctrl.checkUncheckRow()">
  </td>
  <td>{{ $ctrl.firstName }}</td>
  <td>{{ $ctrl.lastName }}</td>
  <td>{{ $ctrl.email }}</td>
  <td>{{ $ctrl.dateOfBirth }}</td>
  <td>{{ $ctrl.country }}</td>
  <td>
    <button type="button" class="btn btn-default btn-xs" ng-click="$ctrl.showUser()">
      <i class="fa fa-id-card-o" aria-hidden="true"></i> Show
    </button>
    <button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.editUser()">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    </button>
    <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.deleteUser()">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </button>
  </td>
</tr>
