<div class="detail-container">
  <div class="title">Newsletter2Go Assignment</div>
  <div class="detail-wrapper">
    <div class="user-info">
      <div class="user-info__picture">
        <img src="../../modules/assets/images/access-card-icon.png"
             height="350px" alt="User-Profile">
      </div>
      <div class="user-info__data">
        <form name="userForm" ng-submit="vm.editUser()" novalidate>
          <div class="form-group">
            <label for="firstName" class="data--cool-labels">First Name</label>
            <input id="firstName" type="text" name="firstName"
                   ng-class="{ 'border-red': userForm.firstName.$invalid && !userForm.firstName.$pristine }"
                   ng-model="vm.user.firstName" class="form-control" required>
            <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine"
               class="help-block">First name is required.</p>
          </div>
          <div class="form-group">
            <label for="lastName" class="data--cool-labels">Last Name</label>
            <input id="lastName" type="text" name="lastName"
                   ng-class="{ 'border-red': userForm.lastName.$invalid && !userForm.lastName.$pristine }"
                   ng-model="vm.user.lastName" class="form-control" required>
            <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine"
               class="help-block">Last name is required.</p>
          </div>
          <div class="form-group">
            <label for="email" class="data--cool-labels">Email</label>
            <input id="email" type="text" name="email" class="form-control"
                   value="{{ vm.user.email }}" disabled>
          </div>
          <div class="form-group">
            <label for="dateOfBirth" class="data--cool-labels">Date of Birth</label>
            <input id="dateOfBirth" type="text" name="dateOfBirth" class="form-control"
                   value="{{ vm.user.dateOfBirth | date:'MM/dd/yyyy' }}" disabled>
          </div>
          <div class="form-group" class="data--cool-labels">
            <label for="country" class="data--cool-labels">Country</label>
            <input id="country" type="text" name="country" class="form-control"
                   value="{{ vm.user.country }}" disabled>
          </div>
          <div class="user-form-buttons">
            <button class="btn btn-success btn-save" type="submit"
                    ng-disabled="!userForm.$dirty || !userForm.$valid">
              <i class="fa fa-check" aria-hidden="true"></i> Save
            </button>
            <button class="btn btn-danger" type="button"
                    ng-click="vm.cancelEdit(userForm.firstName.$dirty || userForm.lastName.$dirty)">
              <i class="fa fa-close" aria-hidden="true"></i> Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="confirmCancelModal">
    <div class="modal-body" id="modal-body">
      <span>
        Are you sure you want to discard changes?
      </span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" ng-click="$ctrl.confirm()">
        Confirm
      </button>
      <button class="btn btn-danger" ng-click="$ctrl.cancel()">
        Cancel
      </button>
    </div>
  </script>
</div>
